html
	head
		title='test simple docker'
		link(rel='stylesheet', href='http://nedna.bootstrapcdn.com/boo')
	body
		div.container
			div.jumbotron
				h1 hello dockers users!!!
				p Click the button below to head over to my podcast...
				p
					a.btn.btn-primary(href="http://intechwetrustpodcast.com") Test Docker
				p
